<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href= "{{url_for('static', filename = 'css/style.css')}}" />
            <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap" rel="stylesheet">
            <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
            <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
            <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
            <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-1.4.0.min.js"></script>
            <script type="text/javascript">
                    Bokeh.set_log_level("info");
            </script>
            <title>Data visualization</title>    
        {% endblock %}
    </head>
    <body>
        <div class="menu-container">
            <header>
                {% block header %}
                {% endblock %}
            </header>
        </div>

        <div class="information-container">
            <!-- title and description of the website -->
            <section class="description" id="resume">
                {% block description %}
                {% endblock %}
            </section>

            <!-- Update form and table when is loaded -->
            <section class="data" id="table-data">
                {% block table %}
                {% endblock %}
            </section>

            <!-- all the posible plots in the website divide in sections-->
            {% block plots %}
            {% endblock %}
            
        </div>

        <!-- all the scirpts needed to fetch th bokeh graphs -->
        {% block scripts %}
        {% endblock %}


    </body>
</html>