<h1>
    WebApp Data visualization 
</h1>
<p>This is a single page application website project made with HTML, CSS, python and a little of JS. The principal
    libraries used were Flask and bokeh. <br> <br>

    HOW TO USE THE <br> <br>

    - Choose the data (.json, .csv, .html, .xsls), the data needs to be under 16 MB. <br>
    - The Pie plot only receives numerical data. <br>
    - The Bar plot receives the categorical as first input then the others needs to be numericals. <br>
      (if the categorical data is remove, then the plot will be in blank). <br>
    - The Histogram only receives one numerical data. <br>
    - The Line plot and the Scatter plot only receives numerical data and the first entry will be in the x axis.
    

</p>