<nav class="menu">
    <ul class="menu-list">
        <li>
            <a href="#resume">
                <i class="icon-resume"></i>
            </a>
        </li>
        <li>
            <a href="#table-data">
                <i class="icon-table"></i>
            </a>
        </li>
        <li>
            <a href="#pie-chart">
                <i class="icon-pie"></i>
            </a>
        </li>
        <li>
            <a href="#bar-chart">
                <i class="icon-bars"></i>
            </a>
        </li>
        <li>
            <a href="#histogram-chart">
                <i class="icon-histogram"></i>
            </a>
        </li>
        <li>
            <a href="#line-chart">
                <i class="icon-time"></i>
            </a>
        </li>
        <li>
            <a href="#points-chart">
                <i class="icon-line"></i>
            </a>
        </li>
    </ul>
</nav>